.tb-p{
    display: inline-block;
    width: 33%;
    margin: 1px;
    /* line-height: .5; */
    text-align: center;
    font-size: large;
    box-sizing: border-box;
    
}

#tb > img {
    margin-top: -30px;
    padding: 5%;
    padding-bottom: 0%;
    padding-top: 0%;
}

footer{
    background-color: cornflowerblue;
    text-align: center;
}

.firstsection-p {
    display: inline-block;
    width: 40%;
    margin: 4%;
    margin-top: 0px;
    text-align: justify;
}
#firstsection {
    background-color: steelblue;
}
.culture {
    width: 100%;
    height: 300px;
}
#para{
    background-color: coral;
}
#get{
    color: coral;
}
#intro{
    display: inline-block;
    width: 33%;
    margin: 0%;
    text-align: center;   
}
#left {
    background-color: steelblue;
}
#centre {
    background-color: coral;
}
#right {
    background-color: seagreen;
}

/* #section-p  {
   background-color: steelblue;
} */

/* #left {
    background-color: steelblue;
}
#centre {
    background-color: coral;
}
#right {
    background-color: seagreen;
    
} */
/* 

table,tr,th,td {
    background-color: palegreen;
    width: 2000px;
    text-align: center;

}

#gallery {
    white-space: normal;
}

#gallery > h1 {
    color: blueviolet;
}

.food {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    height: 250px;
}
.others {
    border-width: 5px;
    border-style: solid;
    border-color: green;
    height: 250px;
}

#para {
    white-space: normal;
    background-color: palegreen;
    background: cover;
}

#para > h2 {
    color: blueviolet;
}
.culture {
    width: 2000px;
    height: 300px;
    background-color: palegreen;
    
}


#story > h6 {
    color: blueviolet;
    font-size: 30px;
}

#get > h3 {
    color: blueviolet;
}
#intro > h4 {
    color: blueviolet;
}

#intro > h5 {
    color: blueviolet;
}

#form > h1 {
    color: blueviolet;
}
 */

